<p id="notice"><%= notice %></p>

<p>
  <strong>X axis:</strong>
  <%= @place.x_axis %>
</p>

<p>
  <strong>Y axis:</strong>
  <%= @place.y_axis %>
</p>

<p>
  <strong>User:</strong>
  <%= @place.user_id %>
</p>

<p>
  <strong>Share:</strong>
  <%= Share.find(@place.share_id).name %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
